api_hash: your_api_hash
api_id: your_api_id
bot_token: your_bot_token
#chat:
#- chat_id: telegram_chat_id
#  last_read_message_id: 0
#  download_filter: message_date >= 2022-12-01 00:00:00 and message_date <= 2023-01-17 00:00:00
#- chat_id: telegram_chat_id_2
#  last_read_message_id: 0
# 我们将ids_to_retry移到data.yaml
ids_to_retry: []
media_types:
- audio
- document
- photo
- video
- voice
- animation #gif
file_formats:
  audio:
  - all
  document:
  - pdf
  - epub
  video:
  - mp4
save_path: /app/downloads
file_path_prefix:
#- chat_title
#- media_datetime
#upload_drive:
#  enable_upload_file: false
#  remote_dir: drive:/telegram
#  before_upload_file_zip: True
#  after_upload_file_delete: True
hide_file_name: false
file_name_prefix:
- file_name
#file_name_prefix_split: ' - '
max_download_task: 5
web_host: 0.0.0.0
web_port: 5000
web_login_secret: 123
allowed_user_ids:
- 'me'
date_format: ''
enable_download_txt: false
language: ZH
proxy:
  scheme: http
  hostname: 172.17.0.1
  port: 20172
log_level: DEBUG
